html {
  height: 100%;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.clearfix {
  /* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  //background: #f9f9f9;
  background-color: #f6fbf9;
  -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, .3);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, .3);
  font-weight: 300;
  font-size: 15px;
  color: #333;
  height:100%;
}

a {
  color: #555;
  text-decoration: none;
  font-weight: 400;
  &:hover {
    color: #000000;
    text-decoration: underline;
  }
}

.container {
  width: 100%;
  position: relative;
}

.main, .header {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 0 30px 50px 30px;
  line-height: 2em;
}

.main {
  margin-top: 40px;

  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2em;
    font-weight: 300;
  }

  .jumbo {
    margin-bottom: 30px;
  }

  .intro {
    font-size: 18px;
    line-height: 2em;
  }
}

.header {
  padding: 30px;
  padding-top: 60px;
  padding-bottom: 15px;
  border-bottom: 1px solid #686868;

  h1 {
    font-size: 34px;
    line-height: 38px;
    margin: 0;
    font-weight: 700;
    color: #333;
  }

  h2 {
    display: block;
    color: #333;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.7px;
  }

  .header-logo {
    webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
    moz-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
    margin-bottom: 1em;

    .hexaflip-cube {
      font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      cursor: move;
      cursor: -webkit-grab;
      cursor: -moz-grab;
      display: inline-block;
      position: relative;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transition: -webkit-transform 0.4s;
      -moz-transition: -moz-transform 0.4s;
      -o-transition: -o-transform 0.4s;
      -ms-transition: -ms-transform 0.4s;
      transition: transform 0.4s;
      opacity: 0.9;
      filter: alpha(opacity=90);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";

      > div {
        width: 100%;
        overflow: hidden;
        height: 100.5%;
        position: absolute;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        text-align: center;
        background-color: #333;
        color: #fff;
        font-weight: 200;
        text-shadow: none;
        line-height: 1.5;
      }

      &:nth-child(1) > div, &:nth-child(5) > div, &:nth-child(11) > div {
        background-color: #008715;
      }

      &.no-tween {
        -webkit-transition-duration: 0;
        -moz-transition-duration: 0;
        -o-transition-duration: 0;
        -ms-transition-duration: 0;
        transition-duration: 0;
      }

      .hexaflip-left, .hexaflip-right {
        background-color: #222 !important;
      }
    }

  }

}

