<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Access to tender info in the EU</title>
	<link rel="stylesheet" type="text/css" href="../assets/fonts/lato2/lato2.css">
	<link rel="stylesheet" type="text/css" href="../assets/fonts/entypo/entypo.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/ngDialog.min.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/ngDialog-theme-default.min.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/app.css"/>
	<script src="./assets/js/chroma.min.js"></script>
	<script src="./assets/js/angular.min.js"></script>
	<script src="./assets/js/angular-sanitize.min.js"></script>
	<script src="./assets/js/angular-animate.min.js"></script>
	<script src="./assets/js/ngDialog.min.js"></script>
	<script src="./assets/js/app.js"></script>
</head>
<body class="iframe" ng-controller="IframeCtrl">
<div class="header">
	<div>
		<a href class="pull-right" ng-show="view.mode!==1" ng-click="view.mode=1;">Back to Map</a>
		<a class="brand" href="http://digiwhist.eu/" target="_blank">digiwhist.eu <span>Tender Landscape</span></a>
		<br/>
		<a href ng-show="view.mode!==3" class="headline" ng-click="view.mode=view.mode==1?2:1;" ng-bind="view.current.name"></a>
		<span ng-show="view.mode==3" class="headline" ng-bind="view.country.name"></span>
	</div>
</div>

<div class="animate-switch-container" ng-switch on="view.mode">
	<div class="animate-switch-right" ng-switch-when="1">
		<div class="map" svg-map map-data="view"></div>
		<div class="legend table">
			<div class="row">
				<div class="cell" ng-repeat="group in view.current.groups" backcolor="{{group.color}}" ng-bind="group.name"></div>
			</div>
		</div>
	</div>
	<div class="animate-switch-left" ng-switch-when="2">
		<div class="tools pull-right" ng-controller="ToolsCtrl">
			<a href ng-click="view.showvalues=!view.showvalues"><i title="See {{view.showvalues?'Groups':'Values'}}" ng-class="{'icon-flow-cascade':view.showvalues,'icon-list':!view.showvalues}"></i></a>
			<a href ng-click="exportTSV(view.table)"><i title="Download as TSV" class="icon-download"></i></a>
		</div>
		<div ng-include="'./assets/partials/table.html'"></div>
	</div>
	<div class="animate-switch-left" ng-switch-when="3">
		<div class="grid-container">
			<div class="grid-cell-100 country">
				<div ng-repeat="(sec,section) in view.country.info">
					<h3 ng-bind="sec"></h3>
					<div class="country-content">
						<div ng-repeat="(key,content) in section">
							<div class="label" ng-bind="key"></div>
							<div class="text" ng-repeat="s in content" ng-bind-html="s | linkify"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Piwik -->
<script type="text/javascript">
	var _paq = _paq || [];
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function () {
		var u = "//traffic.okfn.de/";
		_paq.push(['setTrackerUrl', u + 'piwik.php']);
		_paq.push(['setSiteId', '34']);
		var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
		g.type = 'text/javascript';
		g.async = true;
		g.defer = true;
		g.src = u + 'piwik.js';
		s.parentNode.insertBefore(g, s);
	})();
</script>
<!-- End Piwik Code -->
</body>
</html>
