<div class="grid-container">
	<div class="grid-cell-100 country">
		<div class="country-name" ng-bind="country.name"></div>
		<div class="country-infos">
			<div ng-repeat="(sec,section) in country.info">
				<h3 ng-bind="sec"></h3>
				<div class="country-content">
					<div ng-repeat="(key,content) in section">
						<div class="label" ng-bind="key"></div>
						<div class="text" ng-repeat="s in content" ng-bind-html="s | linkify"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
